<div id="header" class="carousel slide animated fadeIn" data-ride="carousel">
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner pics">
        <div class="item one active">
          <div class="container animated fadeInUp">
            <div class="carousel-caption">
              <h1 class="h1-car">Welcome to Seat Scoop!</h1>
              <p class="lead margin-40"><em>get an inside look at theaters to help plan a night out!</em></p>
              <a class="btn-main" href="/venues"><i class="icon-chevron-right"></i> Venues <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="item two">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1-car">Events Near You</h1>
              <p class="lead margin-40"><em>search for events happening near you</em></p>
              <a class="btn-main" href="/event_search"><i class="icon-chevron-right"></i> Search Events <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="item three">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="h1-car">Contribute!</h1>
              <p class="lead margin-40"><em>sign up to upload your photos & reviews and help seat scoop grow!</em></p>
              <a class="btn-main" href="/users/sign_in"><i class="icon-chevron-right"></i> Sign In <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div><!-- /.carousel -->