<h1>Venues</h1>

<% @venues.each do |venue| %>
  <h3><%= link_to venue.name, "/venues/#{venue.id}" %></h3>
  <h5><%= venue.full_address %></h5>

  <% if current_user && current_user.admin %>
    <a data-confirm="Are you sure you want to delete this venue?" data-method="delete" href="/venues/<%= venue.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">Delete Venue</a>
  <% end %>
  <hr>

<% end %>

