<div id="venue-search-bar">
  <%= form_tag "/venue_search_result" do %>
  <div id="venue-search-field"><%= text_field_tag :search, nil, placeholder: "Theater or Zip Code" %>
  <div id="venue-search-button"><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search pull-right" %></div>
  </div>
  <% end %>
</div>