// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venue-searching, #event-searching {

  margin-top: 200px;
  
  ul#tabs { 
    list-style-type: none; 
    margin: 30px 0 0 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 760px;
    padding: 0 0 0.3em 0; 
  }

  ul#tabs li { 
    display: inline;
        width: 200px;
  }

  ul#tabs li a { 
    color: #fff; 
    background-color: #31363a; 
    // border: 1px solid #c9c3ba; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none; 
    padding: 0.3em; 
    text-decoration: none;
  }

  ul#tabs li a:hover { 
    background-color: DeepSkyBlue; 
  }

  ul#tabs li a.selected { 
    color: #fff; 
    background-color: DeepSkyBlue; 
    font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em; 
  }

  div.tabContent { 
    // border: 1px solid #c9c3ba; 
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 0.5em; 
    height: 120px;
    width: 760px;
    background-color: DeepSkyBlue; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
  }

  div.tabContent.hide { 
    display: none; 
  }

  // .venue-search-bar, #event-search-bar {
  //   margin-bottom: 10px;
  //   width: 750px;
  //   margin-left: auto;
  //   margin-right: auto;

  input {
    height: 60px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 20px;
    text-indent: 20px;
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline;
  }

  //   // #venue-search-field {
  //   //   display: inline-block;
  //   //   margin-left: auto;
  //   //   margin-right: auto;
  //   // }

  //   // #venue-search-button {
  //   //   display: inline-block;

  button {
    height: 60px;
    width: 100px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;

  }
  // }
}

#event-search-bar {
  margin-bottom: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;

  input {
    height: 60px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 20px;
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline;
  }

  // #venue-search-field {
  //   display: inline-block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  // #venue-search-button {
  //   display: inline-block;

  button {
    height: 60px;
    width: 100px;
    display: inline-block;
    vertical-align: top;

  }
}

#google-restaurant-details {

  #carousel-example-generic {
    // background-color: white;
    
    img {
      max-height: 200px;
      max-width: 300px;
      display: block;
      margin: auto;
      margin-top: 20px;
      border: solid 2px #bbb;
      border-radius: 3px;
    }

    width: 500px;
    height: 300px;
    padding: 10px;
    border-top: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
    // border-radius: 3px;
    display: block;
    margin: auto;
  }

  li {
    border: solid 1px #bbb;
  }
  
}

#reg-venues-show {
  h1 {
    text-align: center;
  }

  #venue-default-photo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: solid 6px #31363a;
      border-radius: 2px;
      box-shadow: 10px 10px 6px #ddd;
    }
  }

  #up-events {
    h3 {
      text-align: center;
    }
  }

  #venue-info {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  #ven-show-buttons {
    text-align: center;
  }

  #venue-info {
    background: rgba(221, 221, 221, 0.4);
    padding: 25px 20px 20px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    .phone, .website {
      margin-top: -15px;
    }
  }

  #up-events {
    background: rgba(221, 221, 221, 0.4);
    padding: 25px 20px 20px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    p {
      text-align: center;
    }
  }

  #reg-venue-reviews {
    h3 {
      text-align: center;
    }

    .gp-review {
      background: rgba(0, 191, 255, 0.3);
    }

    background: rgba(221, 221, 221, 0.4);
    padding: 25px 20px 20px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    p {
      text-align: center;
    }
  }

  #reg-venue-restaurants {
    // position: relative;
    h3 {
      text-align: center;
    }

    background: rgba(221, 221, 221, 0.4);
    padding: 25px 30px 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    #map-div {
      // position: absolute;
      float: right;
    }

    #restaurant-results {
      // position: absolute;
      float: left;
    }
  }
}

