// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venue-search-bar {
  #search {
    height: 60px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 20px;
    font-size: 20px;
  }

  // #venue-search-field {
  //   display: inline-block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  // #venue-search-button {
  //   display: inline-block;

    button {
      height: 60px;
      width: 60px;
    }
  // }

  // }
}

#google-restaurant-details {

  #map {
    height: 400px;
    width: 500px;
    background-color: #ccc;
  }
}